#spacer {
	padding-top: 60px;
}

#spacertwo {
	padding-top: 20px;
}

#signup {
	background-color:#0000ff;
	text-align: center;
	padding-bottom: 20px;
}
#signup-h1 {
	color:#ffffff;
}
#signup-h3 {
	
	color:#c0c0c0;
}

.jumbotron{
	text-align: center;
}

.footer {
	text-align: center;
}