body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.jumbotron{
	text-align: center;
}

.jumbotron h2 {
	font-size: 1.5em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
}

.container .gray {
	color: gray;
}

footer {
	padding-right: 60px;
}

.form-signin {
	max-width: 30%;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top: 20px;
	h2{
		text-align: center;
		margin-top: 0px;
	}
}