#spacer {
	padding-top: 50px;
}

.jumbotron{
	text-align: center;
}

.jumbotron h2 {
	font-size: 1.5em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
}

.footer {
	text-align: center;
}