#spacer {
	padding-top: 50px;
}

.jumbotron{
	text-align: center;
}

.jumbotron h2 {
	font-size: 1.5em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
}

.container .gray {
	color: gray;
}

.form-signin {
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top: 20px;
}

.footer {
	text-align: center;
}