<div class='container'>
	<h1><%- user.idUser %></h1>
	<h2><%- user.U_type %></h2>
	<hr>
	<h3><%- user.U_email %></h3>
	<a href="/user/edit/<%= user.idUser %>" class="btn btn-sm btn-warning">Edit</a>
</div>