<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"><strong>The project</strong></div>
		<div class="panel-body">
			Those who ventured directly from second-level to third-level education via a CAO
			application may be understanding in the aim of this project. For leaving certificate students lucky enough to be considering third-level education, deciding on a specific course, may be one of the toughest decisions they have faced in their academic lives. This project, through validated scientific methods like Holland Codes, and a complex algorithm aims to simplify this decision process. Potential students will be matched to a course on individual traits such as capability and personality, and to a college on items such as hobbies, interests, amenities	and location.
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading"><strong>A little background</strong></div>
		<div class="panel-body">
			The Higher Education Authority (HEA) performed a study on undergraduate non-completion rates and discovered that in three Institutes of Technology (Carlow, Dundalk, and Tralee) there was a reported non-completion rate of 37% among first-year students. Whilst capability has a direct effect on third-level achievement, on average 38% of all first year dropouts actually pass their examinations and in truth most of these have chosen the wrong course.
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading"><strong>Does it work</strong></div>
		<div class="panel-body">
			Testing on the validation of this application is still continuing. However current research is having very positive outcomes. From a sample of Final Year Computer Science students tested, 80% where recommended Computer Science in at least one Institute.
		</div>
	</div>
</div>