<div class="container">
	<img src="/images/index.jpg" class="img-responsive" />
</div>
<div id="signup">
	<div class="container">
		<h1 id="signup-h1">future Prospectus</h1>
		<h3 id="signup-h3">...a helping step towards your third-level education.</h3>
		<a href="/user/new" class="btn btn-lg btn-success">Sign Up</a>
	</div>
</div>
<div id="spacertwo"></div>
<div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading"><strong>Our Mission</strong></div>
			<div class="panel-body">
				<p>Are you a fifth or sixth year secondary level student? Are you currently contemplating third-level courses, your CAO application or just life after school in general? If so, at future Prospectus we aim to help you make, what can be, the toughest choices of you academic life thus far.
				</p>
				<p>Selecting the right course, right institute and even the right career path is daunting for us all. At future Prospectus we attempt to take away the stress. By guaging your personality traits, academic level, hobbies, interests, expected college experience and location, we can recommend course choices that suite you as an individual.
				</p>
				<p>The process is easy. You sign up for an account and complete four simple steps. Using the information you have provided, our algorithm (in lightning speed) returns the top 10 course matches for you. The whole process is completely free. So why not give it a try and take the stress out of what might otherwise be a difficult decision...
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-md-4">
			<div class="thumbnail">
				<img src="/images/personality.jpg" class="img-responsive">
				<div class="caption">
					<h3>What is RIASEC?</h3>
					This is based on Dr. John Holland’s theory that people and work environments can be loosely classified into six different groups. Each of the letters corresponds to one of the six groups described. <a href="/studentriasec">Read More...</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-5 col-md-4">
			<div class="thumbnail">
				<img src="/images/institutes.jpg" class="img-responsive">
				<div class="caption">
					<h3>Current Institutes</h3>
					New institutes with a list of all there respective courses will be available in time. To see the current list of supported institutes. <a href="/institute">Click here...</a>
				</div>
			</div>
		</div>

		<div class="col-sm-5 col-md-4">
			<div class="thumbnail">
				<img src="/images/contact.png" class="img-responsive">
				<div class="caption">
					<h3>Contact Us</h3>
					If you are a Student with a query, an Institute Representative or would just like to make a general enquiry all the information an abilities to do so are available <a href="/contact">here... </a>
				</div>
			</div>
		</div>
	</div>
</div>