<img src="/images/index.jpg" class="img-responsive" />
<p></p>
<div class="container">
	<div class="row-fluid">
		<div class="span5">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Our Mission</strong></div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna turpis, laoreet ut dapibus a, vulputate a magna. Pellentesque commodo elit quis tellus malesuada, eget scelerisque quam mollis. Vivamus fringilla a lorem et venenatis. Nam posuere tristique enim, in feugiat nisl dapibus in. Pellentesque pulvinar mi in posuere adipiscing. Nulla facilisis, nisl sodales laoreet eleifend, urna orci auctor dui, nec tempus erat tortor quis diam. Ut velit dui, posuere eget ipsum ac, suscipit commodo quam.
					</p>
					<p>
					Morbi est ante, dignissim nec ligula eget, convallis pellentesque lacus. Proin et pharetra nisi. Aliquam vel ligula ac quam malesuada condimentum. Aenean posuere quis mi a luctus. Sed sagittis felis velit, at ultricies risus viverra eu. Nunc vel lacus ut libero dapibus auctor nec quis libero. Aenean nec fringilla massa. Nullam dictum vulputate adipiscing. Curabitur condimentum dolor a augue euismod rhoncus. Suspendisse egestas tristique mi id cursus. Nunc tortor leo, adipiscing et suscipit ac, gravida id sem. Duis ac purus risus. Mauris volutpat est nec euismod porttitor.</p>
				</div>
			</div>
		</div>
		<div class="span7">
			<div class="jumbotron">
				<h1>futureProspectus</h1>
				<h2>...a helping step towards your third-level education.</h2>
				<a href="/user/new" class="btn btn-lg btn-success">Start now</a>
			</div>
		</div>
	</div>
</div>