<div class="container">
	<h2>This is an error page.</h2>
	<hr>
	<h4>You are here because:</h4>
	<% if(flash && flash.err) { %>
	<% Object.keys(flash.err).forEach(function(error) { %>
		<div class="alert alert-danger"><%- JSON.stringify(flash.err[error]) %></div>
	<% }) %>
	<% } %>
	<hr>
	<h4>You now have three options :</h4>
	<p>Sign in here : <a href="/session/new" class="btn btn-sm btn-default">Sign in!</a></p>
	<p>Create an account here : <a href="/user/new" class="btn btn-sm btn-success">Sign up!</a></p>
	<p>Go home here : <a href="/" class="btn btn-sm btn-warning">futureProspectus</a></p>
</div>