<div class="container">
	<h1>Suitable Occupations</h1>
	<table class="table">
		<tr>
			<th>Index</th>
			<th>Personality Type</th>
			<th>Occupation</th>
		</tr>
		<% var index = 0; %>
		<% _.each(occupations, function(occupation) { %>
		<tr data-id="<%= occupation.RIASEC_idRIASEC %>" data-model="occupation">
			<% index += 1; %>
			<td><%= index %></td>
			<td><%= occupation.RIASEC_idRIASEC %></td>
			<td><%= occupation.O_name %></td>
		</tr>
		<% }) %>
	</table>
</div>